// Light

@font-face {
  font-family: 'Belanusa';
  src:font-url('belanusa.woff') format('woff'),
     font-url('belanusa.woff2') format('woff2');
}

@font-face {
  font-family: 'icomoon';
  src:font-url('icomoon.eot?uhqgj');
  src:font-url('icomoon.eot?#iefixuhqgjo') format('embedded-opentype'),
    font-url('icomoon.woff?uhqgzasdajo') format('woff'),
    font-url('icomoon.ttf?uhqgjo') format('truetype'),
    font-url('icomoon.svg?uhqgjo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'allicon';
  src:font-url('allicon.eot?uhqgjs');
  src:font-url('allicon.eot?#iefixuhqgjo') format('embedded-opentype'),
    font-url('allicon.woff?uhqgzasdajo') format('woff'),
    font-url('allicon.ttf?uhqgjo') format('truetype'),
    font-url('allicon.svg?uhqgjo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
  @font-face {
      font-family: 'BestFutureV';
      src: url('best_future_light_v1.eot');
      src: url('best_future_light_v1.eot?#iefix') format('embedded-opentype'),
         url('best_future_light_v1.woff') format('woff'),
         url('best_future_light_v1.ttf') format('truetype'),
         url('best_future_light_v1.svg#best_future_light_v1') format('svg');
      font-weight: 200;
      font-style: normal;
  }

  // Medium
  @font-face {
    font-family: 'BestFutureV';
    src: url('best_future_medium_v1.eot');
    src: url('best_future_medium_v1.eot?#iefix') format('embedded-opentype'),
         url('best_future_medium_v1.woff') format('woff'),
         url('best_future_medium_v1.ttf') format('truetype'),
         url('best_future_medium_v1.svg#best_future_medium_v1') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  // Bold
  @font-face {
      font-family: 'BestFutureV';
      src: url('best_future_bold_v1.eot');
      src: url('best_future_bold_v1.eot?#iefix') format('embedded-opentype'),
           url('best_future_bold_v1.woff') format('woff'),
           url('best_future_bold_v1.ttf') format('truetype'),
           url('best_future_bold_v1.svg#best_future_bold_v1') format('svg');
      font-weight: bold;
      font-style: normal;
  }
*/
