%nav.hammertime.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left 
  %ul
    %li.home{:data => {:klass => 'home', :sec => '0%'}} Home
    %li.about{:data => {:klass => 'about', :sec => '20%'}} About
    %li.web{:data => {:klass => 'web', :sec => '40%'}} Web Dev
    %li.design{:data => {:klass => 'design', :sec => '60%'}} Design
    %li.photo{:data => {:klass => 'photo', :sec => '80%'}} Photo
    %li.contact{:data => {:klass => 'contact', :sec => '100%'}} Contact
    %li.resume{'data-sec' => '110%'} Resume

