%nav.hammertime.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left 
  %ul
    %li.home{'data-sec' => 'home'} Home
    %li.about{'data-sec' => 'about'} About
    %li.web{'data-sec' => 'web'} Web stuff
    %li.design{'data-sec' => 'design'} Design
    %li.photo{'data-sec' => 'photo'} Photo
    %li.contact{'data-sec' => 'contact'} Contact
    %li.resume{'data-sec' => 'resume'} Resume

