%nav.hammertime.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left 
  %ul
    %li.home{:data => {:sec => '0%', :bg => ''}} Home
    %li.about{:data => {:sec => '20%', :bg => '#ebefe2'}} About
    %li.web{:data => {:sec => '40%', :bg => '#d7e3d1'}} Web Dev
    %li.design{:data => {:sec => '60%', :bg => '#d6ddd3'}} Design
    %li.photo{:data => {:sec => '80%', :bg => '#d2cad2'}} Photo
    %li.contact{:data => {:sec => '100%', :bg => '#dac8d6'}} Contact
    %li.resume{'data-sec' => '110%'} Resume

